*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image: url("/Assets/MAP.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 16px;
  font-family: 'SF Pro Text';
}

.container {
  width: 375px;
}

nav {
  box-sizing: border-box;
  position: relative;
}

.back-arrow {
  display: inline-block;
  padding: 0 0 10px 10px;
}

.back {
  color: #007AFF;
  display: inline-block;
}

.search-bar {
  box-sizing: border-box;
  padding: 0px 10px 0 10px;
}

.bus-stop h1{
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 10px;
}

.search-box {
  box-sizing: border-box;
  background-color: rgba(142,142,147, 0.2);
  border-radius: 10px;
  padding: 5px;
  width: 355px;
}

.search-icon {
  display: inline-block;
}

.search-box p {
  display: inline-block;
  color: #8E8E93;
}

.voice-icon {
  display: inline-block;
  float: right;
}

.list {
  margin-top: 300px;
  padding: 10px 10px 0 10px;
  box-sizing: border-box;
  background-color: rgba(255,255,255, 0.7);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.list h1 {
  font-size: 20px;
  font-weight: bold;
  color: #666666;
  padding-bottom: 10px;
}

.number {
  font-size: 34px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 2px;
}

.direction {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 2px;
}

.destination {
  font-size: 15px;
  font-weight: lighter;
  color: #666666;
  padding-bottom: 2px;
}

.content {
  display: inline-block;
}

.time {
  font-size: 28px;
  font-weight: bold;
  color: #4FBA61;
  display: inline-block;
  float: right;
  padding: 23.5px 0 23.5px 0;
}

.content2 {
  display: inline-block;
}

.content2 .direction{
  color: #FF2D55;
}
 .time2 {
   font-size: 28px;
   font-weight: bold;
   color: #FF2D55;
   text-align: right;
   display: inline-block;
   float: right;
   padding: 23.5px 0 23.5px 0;
   box-sizing: border-box;
   width: 36%;
 }

footer {
  height: 83px;
  width: 100%;
  background-color: #F8F8F8;
  position: fixed;
  bottom: 0;
}

.navbar li {
  display: inline-block;
  font-size: 10px;
  color: #8A8A8F;
  margin-top: 20px;
}

.navbar a {
  text-align: center;
  margin-left: 27px;
  margin-right: 27px;
}

.navbar a:active{
  color: #007AFF;
}

.route {
  padding-left: 25px;
}

.bus {
  padding-left: 32px;
}

.alarm {
  padding-left: 28px;
}

.favorite {
  padding-left: 33px;
}
