*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-image: url("../Assets/MAP.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 18px;
  font-family: 'SF Pro Text', Helvetica;
}

.container {
  width: 100%;
}

.status-bar {
  position: fixed;
  top: 0;
}

.header {
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: #F8F8F8;
}

.fa-chevron-left {
  display: inline-block;
  padding-bottom: 10px;
  margin-top: 50px;
  color: #007AFF;
}

.back {
  color: #007AFF;
  display: inline-block;
}

h1{
  font-size: 34px;
  font-weight: bold;
  padding-bottom: 10px;
}

.search-box {
  box-sizing: border-box;
  background-color: rgba(142,142,147, 0.2);
  border-radius: 10px;
  padding: 2%;
  color: #8E8E93;
}

.fa-search {
  display: inline-block;
}

.search-box p {
  display: inline-block;
}

.fa-microphone {
  display: inline-block;
  float: right;
}

.list {
  margin-top: 120%;
  margin-bottom: 83px;
  padding: 3% 3% 0 3%;
  box-sizing:border-box;
  background-color: rgba(255,255,255, 0.8);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.list h3 {
  font-size: 20px;
  font-weight: bold;
  color: #666666;
  padding-bottom: 10px;
}

.row {
  height:75px;
  display: inline-block;
}

.number {
  font-size: 34px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 2px;
}

.direction {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  padding-bottom: 2px;
}

.destination {
  font-size: 15px;
  font-weight: lighter;
  color: #666666;
  padding-bottom: 2px;
}

.time {
  height:75px;
  font-size: 28px;
  font-weight: bold;
  color: #4FBA61;
  text-align: right;
  display: inline-block;
  float: right;
  padding: 23.5px 0 23.5px 0;
}

.row-RR {
  display: inline-block;
}

.row-RR .direction{
  color: #FF2D55;
}

 .time-RR {
   height:75px;
   font-size: 28px;
   font-weight: bold;
   color: #FF2D55;
   text-align: right;
   display: inline-block;
   float: right;
   padding: 23.5px 0 23.5px 0;
 }

 .row-OS {
   display: inline-block;
 }

 .row-OS .number, .row-OS .direction, .row-OS .destination {
   color: #8E8E93;
 }

 .time-OS {
   height:75px;
   font-size: 28px;
   font-weight: bold;
   color: #8E8E93;
   text-align: right;
   display: inline-block;
   float: right;
   padding: 11px 0 11px 0;
   width: 36%;
 }

footer {
  height: 83px;
  width: 100%;
  background-color: #F8F8F8;
  position: fixed;
  bottom: 0;
}

.navbar {
  margin-left: 6.5%;
}

.navbar li {
  display: inline-block;
  font-size: 10px;
  color: #8A8A8F;
  margin-top: 4.5%;
}

.navbar a {
  text-align: center;
  margin-left: 27px;
  margin-right: 27px;
}

.navbar a:active{
  color: #007AFF;
}

.route {
  padding-left: 25px;
  padding-bottom: 5px;
}

.bus {
  padding-left: 32px;
  padding-bottom: 5px;
}

.alarm {
  padding-left: 28px;
  padding-bottom: 5px;
}

.favorite {
  padding-left: 33px;
  padding-bottom: 5px;
}
